.btn {
  font-family: $main-font;
  color: $additional-white-color;
  background-color: $accent-color;
  font-size: $secondary-font-size;
  font-style: normal;
  font-weight: 700;
  min-width: 200px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}
