/* colors */
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$additional-white-color: #ffffff;
$additional-black-color: #000000;
$footer-link-color: rgba(255, 255, 255, 0.6);
$primary-bg-color: #ffffff;
$hero-bg-color: #2f303a;
$additional-bg-color: #f5f4fa;
/* fonts */
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$main-font-size: 14px;
$secondary-font-size: 16px;
$title-font-size: 36px;
